<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>si? si? si?</title>
    <link rel="stylesheet" href="../static/kanye.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<script>
    function mostrarAlerta() {
        alert("¡anda porfis da click en si!");
    }
</script>
<body>
    <div class="img">
        <img src="../source/R (1).jpeg" alt="carnival" width="400rem" height="400 rem">
    </div>
    <div class="letras">
        <h1>¿quieres salir conmigo?</h1>
        <marquee direction="left" behavior="scroll" loop="true" scrolldelay="10" scrollamount="5" width="300" height="50">lloro x2 </marquee>

    </div>
    <br><br>
    <div class="boton">
        <div>
            <a href="../templates/si.html"><button  type="button" class="btn btn-info">si</button></a>
            <button  type="submit" class="btn btn-danger" onclick="mostrarAlerta()">ok respeto tu desicion</button>
        </div>
    </div>
</body>
</html>